# Python Basics

## Variables:
    - To Store a value
    - To change a value
    Syntax:
        variablename = value

In [1]:
s = 20
s

20

In [3]:
n = 30
h = '25'
h
n

30

In [4]:
n = 30
h = '25'
n
h

'25'

In [5]:
n = 30
h = '25'
n,h

(30, '25')

## Variable Assignments:
    - single variable to single value
    - n nuber of variables to n number of values
    - n number of varialbes to single value

In [6]:
n,k = 15,23.500
n,k

(15, 23.5)

In [7]:
n,m,p = 45,89
n,m,p

ValueError: not enough values to unpack (expected 3, got 2)

In [8]:
a,b = 78,23.00,89
a,b

ValueError: too many values to unpack (expected 2)

In [9]:
z = s = a = 50
z,s,a

(50, 50, 50)

In [11]:
y = '45'
print(y)
y

45

'45'

## Data Types:
    - int -> only numbers
    - float -> numbers and decimal values
    - string -> enclosed with ' or "
    - boolean -> True or False
    - complex -> real ad imaginary part
    - none -> none
    - All Data Structures like [List,Tuple,Set and Dictionary]

In [13]:
a,b,c,d,e,f = 12,56.12,True,3+5j,None,'78'
print(a,b,c,d,e,f)

12 56.12 True (3+5j) None 78

## Type:
    - To know the data type of a variable
    Syntax:
        type(variablename)

In [14]:
a,b,c,d,e,f = 12,56.12,True,3+5j,None,'78'
print(a,type(a))
print(b,type(b))
print(c,type(c))
print(d,type(d))
print(e,type(e))
print(f,type(f))

12 <class 'int'>
56.12 <class 'float'>
True <class 'bool'>
(3+5j) <class 'complex'>
None <class 'NoneType'>
78 <class 'str'>

## Input Formatting:
    - It stores string data type by default
    - It displays an information to a user
    - It reads a data from an user
    Syntax:
        variablename = input("Some information")

In [3]:
n = input("Enter a value: ")
print(n,type(n))

Enter a value: rajesh
rajesh <class 'str'>

In [ ]:
y = 10